body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #0f172a;
  color: white;
}

h1 {
  margin-top: 10px;
}

#board {
  display: grid;
  grid-template-columns: repeat(10, 55px);
  grid-template-rows: repeat(10, 55px);
  gap: 2px;
  margin: 20px auto;
  width: max-content;
}

.cell {
  background: white;
  color: black;
  font-size: 10px;
  position: relative;
  border-radius: 6px;
}

.token {
  width: 22px;
  height: 22px;
  position: absolute;
}

#panel {
  margin-top: 10px;
}

button {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
}

#log {
  margin-top: 10px;
}